In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import csv
import os

In [2]:
# Initialize the master DataFrame
master_df = pd.read_csv("ZIPdf.csv")
master_df.rename(columns={"Unnamed: 0" : "ZIP"}, inplace=True)
master_df["ZIP"] = master_df["ZIP"].astype(str).str.zfill(5)
master_df.set_index("ZIP", inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,Gini,UR,%BachOrMore,STCOUNTYFP,W_Avg Emp Min Share,W_Avg Emp Black Share,W_Avg Emp White Share,W_Avg Emp Asian Share,W_Avg Emp Hisp Share,W_Avg Emp Non-Hisp Share
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['36103'],0.149040,NaN,0.859492,0.083086,0.056364,0.892998
00601,NaN,NaN,NaN,NaN,99.785408,99.779608,0.005800,99.669412,0.000000,0.000000,...,44.90,34.986667,14.562560,"['72001', '72113']",NaN,NaN,NaN,NaN,NaN,NaN
00602,NaN,NaN,NaN,NaN,99.432726,99.406094,0.026633,99.280920,0.026633,0.007990,...,49.26,11.262690,21.817471,"['72003', '72005']",NaN,NaN,NaN,NaN,NaN,NaN
00603,NaN,NaN,NaN,NaN,98.827403,98.666774,0.160630,98.377640,0.098386,0.010039,...,57.02,20.851813,24.267387,"['72005', '72071']",NaN,NaN,NaN,NaN,NaN,NaN
00606,NaN,NaN,NaN,NaN,99.480934,99.460970,0.019964,99.301258,0.039928,0.000000,...,43.73,12.011372,10.361217,"['72093', '72153']",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['53063'],0.061404,NaN,0.852339,0.029630,0.020760,0.864522
99256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['53063'],0.061404,NaN,0.852339,0.029630,0.020760,0.864522
99529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['02020'],0.135079,0.015303,0.751177,0.072248,0.027810,0.826074
99599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['02020'],0.135079,0.015303,0.751177,0.072248,0.027810,0.826074
99811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,['02110'],0.090052,NaN,0.784293,0.031414,NaN,0.797906

# PPP ZIP Data

In [3]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "PPP Files.csv")
file_df["Completed"] = 0
file_df

                               File  Completed
0       public_150k_plus_230630.csv          0
1    public_up_to_150k_1_230630.csv          0
2    public_up_to_150k_2_230630.csv          0
3    public_up_to_150k_3_230630.csv          0
4    public_up_to_150k_4_230630.csv          0
5    public_up_to_150k_5_230630.csv          0
6    public_up_to_150k_6_230630.csv          0
7    public_up_to_150k_7_230630.csv          0
8    public_up_to_150k_8_230630.csv          0
9    public_up_to_150k_9_230630.csv          0
10  public_up_to_150k_10_230630.csv          0
11  public_up_to_150k_11_230630.csv          0
12  public_up_to_150k_12_230630.csv          0

In [4]:
def assign_value_based_on_date(date):
    if date < pd.Timestamp('2020-04-17'):
        return '_1'
    elif date < pd.Timestamp('2020-08-09'):
        return '_2'
    else:
        return '_3'
traunches = ["_1", "_2", "_3"]

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
master_df["Number of Loans_1"] = 0
master_df["Total Loans Amount_1"] = 0

master_df["Number of Loans_2"] = 0
master_df["Total Loans Amount_2"] = 0

master_df["Number of Loans_3"] = 0
master_df["Total Loans Amount_3"] = 0

In [7]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    chunk_size = 640000
    for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['NonProfit', 
                                                                        'BusinessType', 
                                                                        'NAICSCode', 
                                                                        'BorrowerZip', 
                                                                        'DateApproved', 
                                                                        'CurrentApprovalAmount']):
        # Filter chunk to only needed observations
        chunk = chunk[chunk["NonProfit"] != "Y"]
        chunk = chunk[~chunk["BusinessType"].isin(["Independent Contractors",
                                                   "Self-Employed Individuals"])]
        chunk = chunk[~chunk["NAICSCode"].astype(str).str.startswith(("99"))]
        chunk.dropna(subset=["BorrowerZip"], inplace=True)

        # Edit chunk to include necessary info
        chunk["DateApproved"] = pd.to_datetime(chunk["DateApproved"])
        chunk["Traunch"] = chunk["DateApproved"].apply(assign_value_based_on_date)
        chunk["BorrowerZip"] = chunk["BorrowerZip"].astype(str).str[:5]
            
        # Aggregate Data
        grouped = chunk.groupby(['BorrowerZip', 'Traunch']).agg({
                'Traunch': 'size'})
        
        # Edit chunk for amount
        chunk = chunk[~chunk["NAICSCode"].astype(str).str.startswith(("11"))]
        
        # Aggregate for amount
        amount_grouped = chunk.groupby(['BorrowerZip', 'Traunch']).agg({
                'CurrentApprovalAmount': 'sum'})

        # Update master_df
        for (zip_, traunch), row in grouped.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, f"Number of Loans{traunch}"] += row['Traunch']  # Update the number of loans
            else:
                continue

        for (zip_, traunch), row in amount_grouped.iterrows():
            if zip_ in master_df.index:
                master_df.loc[zip_, f"Total Loans Amount{traunch}"] += row['CurrentApprovalAmount']
            else:
                continue
                        
    file_df.loc[file_df["File"] == file, "Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")

Processing public_150k_plus_230630.csv...
Updated master DataFrame with data from public_150k_plus_230630.csv.
Processing public_up_to_150k_1_230630.csv...
Updated master DataFrame with data from public_up_to_150k_1_230630.csv.
Processing public_up_to_150k_2_230630.csv...
Updated master DataFrame with data from public_up_to_150k_2_230630.csv.
Processing public_up_to_150k_3_230630.csv...
Updated master DataFrame with data from public_up_to_150k_3_230630.csv.
Processing public_up_to_150k_4_230630.csv...
Updated master DataFrame with data from public_up_to_150k_4_230630.csv.
Processing public_up_to_150k_5_230630.csv...
Updated master DataFrame with data from public_up_to_150k_5_230630.csv.
Processing public_up_to_150k_6_230630.csv...
Updated master DataFrame with data from public_up_to_150k_6_230630.csv.
Processing public_up_to_150k_7_230630.csv...
Updated master DataFrame with data from public_up_to_150k_7_230630.csv.
Processing public_up_to_150k_8_230630.csv...
Updated master DataFrame with data from public_up_to_150k_8_230630.csv.
Processing public_up_to_150k_9_230630.csv...
Updated master DataFrame with data from public_up_to_150k_9_230630.csv.
Processing public_up_to_150k_10_230630.csv...
Updated master DataFrame with data from public_up_to_150k_10_230630.csv.
Processing public_up_to_150k_11_230630.csv...
Updated master DataFrame with data from public_up_to_150k_11_230630.csv.
Processing public_up_to_150k_12_230630.csv...
Updated master DataFrame with data from public_up_to_150k_12_230630.csv.

In [9]:
master_df["Total Loans"] = master_df["Number of Loans_1"].add(master_df["Number of Loans_2"], fill_value = 0).add(master_df["Number of Loans_3"], fill_value = 0)
master_df["Total Loan Amount"] = master_df["Total Loans Amount_1"].add(master_df["Total Loans Amount_2"], fill_value = 0).add(master_df["Total Loans Amount_3"], fill_value = 0)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,W_Avg Emp Hisp Share,W_Avg Emp Non-Hisp Share,Number of Loans_1,Total Loans Amount_1,Number of Loans_2,Total Loans Amount_2,Number of Loans_3,Total Loans Amount_3,Total Loans,Total Loan Amount
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.056364,0.892998,0,0.00,0,0.00,0,0.00,0,0.00
00601,NaN,NaN,NaN,NaN,99.785408,99.779608,0.005800,99.669412,0.000000,0.000000,...,NaN,NaN,2,328260.00,80,1021888.14,80,1142603.32,162,2492751.46
00602,NaN,NaN,NaN,NaN,99.432726,99.406094,0.026633,99.280920,0.026633,0.007990,...,NaN,NaN,20,2229895.86,319,5720104.94,335,6019107.15,674,13969107.95
00603,NaN,NaN,NaN,NaN,98.827403,98.666774,0.160630,98.377640,0.098386,0.010039,...,NaN,NaN,23,5091700.00,431,9967790.15,412,11819710.71,866,26879200.86
00606,NaN,NaN,NaN,NaN,99.480934,99.460970,0.019964,99.301258,0.039928,0.000000,...,NaN,NaN,1,4800.00,15,126717.00,15,169580.00,31,301097.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020760,0.864522,0,0.00,0,0.00,0,0.00,0,0.00
99256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020760,0.864522,0,0.00,0,0.00,0,0.00,0,0.00
99529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027810,0.826074,0,0.00,0,0.00,0,0.00,0,0.00
99599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027810,0.826074,0,0.00,0,0.00,0,0.00,0,0.00
99811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.797906,0,0.00,0,0.00,0,0.00,0,0.00

In [10]:
master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Loans",
           "Total Loan Amount"]] = master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Loans",
           "Total Loan Amount"]].fillna(0)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,W_Avg Emp Hisp Share,W_Avg Emp Non-Hisp Share,Number of Loans_1,Total Loans Amount_1,Number of Loans_2,Total Loans Amount_2,Number of Loans_3,Total Loans Amount_3,Total Loans,Total Loan Amount
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.056364,0.892998,0,0.00,0,0.00,0,0.00,0,0.00
00601,NaN,NaN,NaN,NaN,99.785408,99.779608,0.005800,99.669412,0.000000,0.000000,...,NaN,NaN,2,328260.00,80,1021888.14,80,1142603.32,162,2492751.46
00602,NaN,NaN,NaN,NaN,99.432726,99.406094,0.026633,99.280920,0.026633,0.007990,...,NaN,NaN,20,2229895.86,319,5720104.94,335,6019107.15,674,13969107.95
00603,NaN,NaN,NaN,NaN,98.827403,98.666774,0.160630,98.377640,0.098386,0.010039,...,NaN,NaN,23,5091700.00,431,9967790.15,412,11819710.71,866,26879200.86
00606,NaN,NaN,NaN,NaN,99.480934,99.460970,0.019964,99.301258,0.039928,0.000000,...,NaN,NaN,1,4800.00,15,126717.00,15,169580.00,31,301097.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020760,0.864522,0,0.00,0,0.00,0,0.00,0,0.00
99256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020760,0.864522,0,0.00,0,0.00,0,0.00,0,0.00
99529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027810,0.826074,0,0.00,0,0.00,0,0.00,0,0.00
99599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027810,0.826074,0,0.00,0,0.00,0,0.00,0,0.00
99811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.797906,0,0.00,0,0.00,0,0.00,0,0.00

In [11]:
master_df["Loans per Emp Bus"] = master_df["Total Loans"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp"] = master_df["Total Loan Amount"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_1"] = master_df["Number of Loans_1"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_1"] = master_df["Total Loans Amount_1"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_2"] = master_df["Number of Loans_2"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_2"] = master_df["Total Loans Amount_2"] / master_df["CBP Emp"]
master_df["Loans per Emp Bus_3"] = master_df["Number of Loans_3"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_3"] = master_df["Total Loans Amount_3"] / master_df["CBP Emp"]
master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
master_df

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,Total Loans,Total Loan Amount,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,49.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00601,NaN,NaN,NaN,NaN,99.785408,99.779608,0.005800,99.669412,0.000000,0.000000,...,162,2492751.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00602,NaN,NaN,NaN,NaN,99.432726,99.406094,0.026633,99.280920,0.026633,0.007990,...,674,13969107.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00603,NaN,NaN,NaN,NaN,98.827403,98.666774,0.160630,98.377640,0.098386,0.010039,...,866,26879200.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00606,NaN,NaN,NaN,NaN,99.480934,99.460970,0.019964,99.301258,0.039928,0.000000,...,31,301097.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# EIDL Advance ZIP Data

In [ ]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Advance Files.csv")
file_df

In [ ]:
# master_df[["Number of Advs EIDLA", "Total Advs Amount EIDLA"]] = 0

In [ ]:
# for file in file_df[file_df["Completed"] == 0]["File"]:
#     file_name = base + file
#     # Check if file exists
#     if not os.path.exists(file_name):
#         print(f"File {file_name} does not exist. Skipping...")
#         continue

#     print(f"Processing {file}...")

#     chunk_size = 150000

#     for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['LEGALENTITYZIP5', 
#                                                                        'FEDERALACTIONOBLIGATION',
#                                                                        'ACTIONTYPE']):
#         chunk.dropna(subset=["LEGALENTITYZIP5"], inplace=True)
    
#         # Edit chunk to include necessary info
#         chunk["LEGALENTITYZIP5"] = chunk["LEGALENTITYZIP5"].astype(str).str.zfill(5)
#             # The data for advances contains instances where funds were returned by banks or rescinded by the 
#             # government after too much was awarded. These negative values are important to the sum of funding 
#             # recieved, but need to be accounted for when obtaining counts of advances 
#         chunk['Adv_Count'] = chunk['ACTIONTYPE'].apply(lambda x: 1 if x == "A" else 0)
    
#         # Aggregate Data
#         grouped = chunk.groupby(['LEGALENTITYZIP5']).agg({
#             'FEDERALACTIONOBLIGATION': 'sum',
#             'Adv_Count': 'sum'  # Sum of Adv_Count will give the adjusted count of loans
#         })
    
#         # Update master_df
#         for zip_, row in grouped.iterrows():
#             if zip_ in master_df.index:
#                 master_df.loc[zip_, "Number of Advs EIDLA"] += row['Adv_Count']  # Update the number of loans
#                 master_df.loc[zip_, "Total Advs Amount EIDLA"] += row['FEDERALACTIONOBLIGATION']
#             else:
#                 # Create a new row filled with NaNs but update the relevant columns
#                 new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
#                 new_row["Number of Advs EIDLA"] = row['Adv_Count']
#                 new_row["Total Advs Amount EIDLA"] = row['FEDERALACTIONOBLIGATION']
        
#                 # Append the new row to the master DataFrame
#                 master_df = master_df.append(new_row)
                        
#     file_df.loc[file_df["File"] == file, "Completed"] = 1
    
#     print(f"Updated master DataFrame with data from {file}.")
    
# master_df.to_csv('ZIPdf.csv')
# file_df.to_csv(base + "EIDL Advance Files.csv", index=False)

# EIDL Loan ZIP Data

In [ ]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Loan Files.csv")
file_df

In [ ]:
# master_df[["Number of Loans EIDLL", "Total Loan Amount EIDLL"]] = 0

In [ ]:
# for file in file_df[file_df["Completed"] == 0]["File"]:
#     file_name = base + file
#     # Check if file exists
#     if not os.path.exists(file_name):
#         print(f"File {file_name} does not exist. Skipping...")
#         continue

#     print(f"Processing {file}...")
    
#     # Read file row by row since cannot fit in DF
#     chunk_size = 160000
#     for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['LEGALENTITYZIP5', 
#                                                                        'FACEVALUEOFDIRECTLOANORLOANGUARANTEE', 
#                                                                        'FAIN',
#                                                                        'ACTIONTYPE']):
#         chunk.dropna(subset=["LEGALENTITYZIP5"], inplace=True)

#         # Edit chunk to include necessary info
#         chunk["LEGALENTITYZIP5"] = chunk["LEGALENTITYZIP5"].astype(str).str.zfill(5)
#         chunk['Loan_Count'] = chunk['ACTIONTYPE'].apply(lambda x: 1 if x == "A" else 0)
        
#         # Aggregate Data
#         grouped = chunk.groupby(['LEGALENTITYZIP5']).agg({
#                 'FACEVALUEOFDIRECTLOANORLOANGUARANTEE': 'sum',
#                 'Loan_Count': 'size'  # Count of loans
#             })

#         # Update master_df
#         for zip_, row in grouped.iterrows():
#             if zip_ in master_df.index:
#                 master_df.loc[zip_, "Number of Loans EIDLL"] += row['Loan_Count']  # Update the number of loans
#                 master_df.loc[zip_, "Total Loan Amount EIDLL"] += row['FACEVALUEOFDIRECTLOANORLOANGUARANTEE']
#             else:
#                 # Create a new row filled with NaNs but update the relevant columns
#                 new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
#                 new_row["Number of Loans EIDLL"] = row['Loan_Count']
#                 new_row["Total Loan Amount EIDLL"] = row['FACEVALUEOFDIRECTLOANORLOANGUARANTEE']
        
#                 # Append the new row to the master DataFrame
#                 master_df = master_df.append(new_row)
#                 #print("Created new row for ZIP code: " + zip_)
                        
#     file_df.loc[file_df["File"] == file, "Completed"] = 1
    
#     print(f"Updated master DataFrame with data from {file}.")
    
#     # Ask for user confirmation to proceed to the next file
# #     user_input = input("Do you want to continue with the next file? (y/n): ")
# #     if user_input.lower() != 'y':
# #         print("Stopping the process.")
#         # Save the master DataFrame to disk
# master_df.to_csv('ZIPdf.csv')
# file_df.to_csv(base + "EIDL Loan Files.csv", index=False)
#         #break

# EIDL Post Nov-15 2020

In [ ]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "EIDL Post Nov 20.csv")
file_df

In [ ]:
# for file in file_df[file_df["Completed"] == 0]["File"]:
#     file_name = base + file
#     # Check if file exists
#     if not os.path.exists(file_name):
#         print(f"File {file_name} does not exist. Skipping...")
#         continue

#     print(f"Processing {file}...")
    
#     # Read file row by row since cannot fit in DF
#     chunk_size = 160000
#     for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['cfda_number', 
#                                                                       'action_type_code', 
#                                                                       'federal_action_obligation',
#                                                                       'face_value_of_loan',
#                                                                       'disaster_emergency_fund_codes_for_overall_award',
#                                                                       'recipient_zip_code']):
#         # Filter chunk to only needed observations
#         chunk["disaster_emergency_fund_codes_for_overall_award"] = chunk[
#             "disaster_emergency_fund_codes_for_overall_award"].astype(str).str[0]
#         chunk = chunk[chunk["disaster_emergency_fund_codes_for_overall_award"].isin(["L","M","N","O","P","U","V"])]
#         chunk.dropna(subset=["recipient_zip_code"], inplace=True)
#         chunk["recipient_zip_code"] = chunk["recipient_zip_code"].astype(str).str.zfill(5)
#         chunk["Count"] = chunk['action_type_code'].apply(lambda x: 1 if x == "A" else 0)
    
#         chunk_l = chunk[chunk["cfda_number"].astype(np.double) == 59.072]
#         chunk_a = chunk[chunk["cfda_number"].astype(np.double) == 59.008]

        
#         # Aggregate Data
#         grouped_l = chunk.groupby(['recipient_zip_code']).agg({
#                 'face_value_of_loan': 'sum',
#                 'Count': 'sum'  # Count of loans
#             })
#         grouped_a = chunk.groupby(['recipient_zip_code']).agg({
#                 'federal_action_obligation': 'sum',
#                 'Count': 'sum'  # Count of advs
#             })
        
#         combined_df = pd.merge(grouped_l, grouped_a, on='recipient_zip_code', how='outer', suffixes=('_loan', '_adv'))
#         combined_df.fillna(0, inplace=True)
        
#         # Update master_df
#         for zip_, row in combined_df.iterrows():
#             if zip_ in master_df.index:
#                 master_df.loc[zip_, "Number of Loans EIDLL"] += row['Count_loan']  # Update the number of loans
#                 master_df.loc[zip_, "Total Loan Amount EIDLL"] += row['face_value_of_loan']
#                 master_df.loc[zip_, "Number of Advs EIDLA"] += row['Count_adv']  # Update the number of advs
#                 master_df.loc[zip_, "Total Advs Amount EIDLA"] += row['federal_action_obligation']
#             else:
#                 # Create a new row filled with NaNs but update the relevant columns
#                 new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
#                 new_row["Number of Loans EIDLL"] = row['Count_loan']
#                 new_row["Total Loan Amount EIDLL"] = row['face_value_of_loan']
#                 new_row["Number of Advs EIDLA"] = row['Count_adv']
#                 new_row["Total Advs Amount EIDLA"] = row['federal_action_obligation']
        
#                 # Append the new row to the master DataFrame
#                 master_df = master_df.append(new_row)
#                 #print("Created new row for ZIP code: " + zip_)
                        
#     file_df[file_df["File"] == file]["Completed"] = 1
    
#     print(f"Updated master DataFrame with data from {file}.")

# master_df.to_csv('ZIPdf.csv')
# file_df.to_csv(base + "EIDL Post Nov 20.csv", index=False)

In [ ]:
# master_df[["Number of Advs EIDLA",
#            "Total Advs Amount EIDLA"]] = master_df[["Number of Advs EIDLA",
#                                             "Total Advs Amount EIDLA"]].fillna(0)

In [ ]:
# master_df[["Number of Loans EIDLL",
#            "Total Loan Amount EIDLL"]] = master_df[["Number of Loans EIDLL",
#                                             "Total Loan Amount EIDLL"]].fillna(0)

In [ ]:
# master_df["EIDL Loans per Emp Bus"] = master_df["Number of Loans EIDLL"] / master_df["Total Emp Bus"]
# master_df["Avg EIDL Loan Amt per Emp"] = master_df["Total Loan Amount EIDLL"] / master_df["CBP Emp"]
# master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
# master_df

In [ ]:
# master_df["Advs per Emp Bus"] = master_df["Number of Advs EIDLA"] / master_df["Total Emp Bus"]
# master_df["Avg Adv Amt per Emp"] = master_df["Total Advs Amount EIDLA"] / master_df["CBP Emp"]
# master_df.replace([np.inf, -np.inf], np.nan, inplace=True)
# master_df

# Stats

In [12]:
master_df.describe()

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,Total Loans,Total Loan Amount,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
count,32109.000000,35052.000000,35052.000000,37322.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,...,39949.000000,3.994900e+04,37322.000000,3.504900e+04,37322.000000,35049.000000,37322.000000,35049.000000,37322.000000,35049.000000
mean,61.825968,227.137111,3638.925140,266.512513,26.309044,18.998565,7.310479,10.415032,2.316485,1.774790,...,235.569501,1.747426e+07,0.748065,7.513815e+03,0.123646,3076.052462,0.216088,1806.518946,0.408331,2631.243944
std,88.443966,406.851597,8085.098199,414.475046,24.866075,20.157029,14.854133,16.399289,5.762396,9.231636,...,451.907307,4.295975e+07,0.661994,1.518503e+04,0.126043,10050.523487,0.190756,6979.589726,0.535783,5309.319838
min,1.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,11.000000,80.000000,24.000000,7.695221,6.483358,0.264276,1.863354,0.150038,0.082109,...,7.000000,1.578980e+05,0.391304,3.306960e+03,0.043478,717.595484,0.090909,443.714775,0.166667,803.909854
50%,31.000000,41.000000,423.000000,90.000000,16.288660,10.917816,1.001669,4.099142,0.508504,0.220264,...,45.000000,1.373445e+06,0.666667,5.590300e+03,0.103510,1927.301859,0.177732,1052.532319,0.328107,1723.092080
75%,78.000000,255.000000,3367.000000,326.000000,37.407054,23.085094,6.340451,10.763758,1.719629,0.519481,...,238.000000,1.319606e+07,0.971244,8.615151e+03,0.175439,3405.222222,0.305556,2043.907783,0.500000,3036.988278
max,1634.000000,6893.000000,177226.000000,6897.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,7801.000000,1.567980e+09,19.916667,1.390754e+06,6.000000,822010.750000,6.000000,966651.500000,18.750000,424102.500000

In [13]:
master_df[~master_df["Min Share"].isnull()].describe()

,Num Farms,Num Estabs,CBP Emp,Total Emp Bus,Min Share,Min Share Excl B,Black Share,Hisp Share,Asian Share,Native Share,...,Total Loans,Total Loan Amount,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
count,29574.000000,30771.000000,30771.000000,32638.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,...,33631.000000,3.363100e+04,32638.000000,30771.000000,32638.000000,30771.000000,32638.000000,30771.000000,32638.000000,30771.000000
mean,66.360283,256.658022,4069.889571,302.106839,26.309044,18.998565,7.310479,10.415032,2.316485,1.774790,...,278.655348,2.060089e+07,0.798312,7285.430753,0.122865,2761.932914,0.220324,1656.792866,0.455124,2866.704973
std,90.643775,425.862046,8515.727201,431.575897,24.866075,20.157029,14.854133,16.399289,5.762396,9.231636,...,480.227466,4.612912e+07,0.669024,8747.568296,0.106767,4923.489918,0.177550,2727.105502,0.552687,4711.528191
min,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,15.000000,95.000000,40.000000,7.695221,6.483358,0.264276,1.863354,0.150038,0.082109,...,18.000000,3.030201e+05,0.454545,3739.446676,0.051293,935.622673,0.100000,524.783531,0.222222,1102.651560
50%,36.000000,59.000000,572.000000,119.000000,16.288660,10.917816,1.001669,4.099142,0.508504,0.220264,...,72.000000,2.378067e+06,0.719512,5833.305643,0.107143,2032.760434,0.184495,1111.773941,0.358523,1921.403467
75%,84.000000,320.000000,4217.500000,394.000000,37.407054,23.085094,6.340451,10.763758,1.719629,0.519481,...,327.000000,1.952038e+07,1.000000,8686.733465,0.174497,3414.719240,0.309580,2057.502485,0.526316,3238.571366
max,1634.000000,6893.000000,177226.000000,6897.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,7801.000000,1.567980e+09,19.916667,337222.640000,3.000000,331865.666667,6.000000,174665.000000,18.750000,226948.000000

In [14]:
stats_df = master_df[~master_df["Min Share"].isnull()][["Min Share",
                                                       "Min Share Excl B",
                                                       "Black Share",
                                                       "White Share",
                                                       "Asian Share",
                                                       "Hisp Share",
                                                       "Native Share",
                                                       'Rural', 
                                                       'PC Inc', 
                                                       'Gini',
                                                       'UR', 
                                                       '%BachOrMore',
                                                       "W_Avg Emp Min Share",
                                                       "W_Avg Emp Black Share",
                                                       "W_Avg Emp White Share",
                                                       "W_Avg Emp Asian Share",
                                                       "W_Avg Emp Hisp Share",
                                                       "W_Avg Emp Non-Hisp Share",
                                                       "W_Avg Emp Min Share",
                                                       "W_Avg Emp Min Share",
                                                       "Total Pop",
                                                       "Loans per Emp Bus",
                                                       "Avg Loan Amt per Emp",
                                                       "Loans per Emp Bus_1",
                                                       "Avg Loan Amt per Emp_1",
                                                       "Loans per Emp Bus_2",
                                                       "Avg Loan Amt per Emp_2",
                                                       "Loans per Emp Bus_3",
                                                       "Avg Loan Amt per Emp_3"]]
stats_df.describe()

,Min Share,Min Share Excl B,Black Share,White Share,Asian Share,Hisp Share,Native Share,Rural,PC Inc,Gini,...,W_Avg Emp Min Share,Total Pop,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
count,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,33631.000000,32763.000000,32405.000000,...,15979.000000,33631.000000,32638.000000,30771.000000,32638.000000,30771.000000,32638.000000,30771.000000,32638.000000,30771.000000
mean,26.309044,18.998565,7.310479,73.690956,2.316485,10.415032,1.774790,64.457200,34022.115740,41.173309,...,0.143364,9952.918022,0.798312,7285.430753,0.122865,2761.932914,0.220324,1656.792866,0.455124,2866.704973
std,24.866075,20.157029,14.854133,24.866075,5.762396,16.399289,9.231636,44.097957,16923.415799,8.190941,...,0.103154,14935.801329,0.669024,8747.568296,0.106767,4923.489918,0.177550,2727.105502,0.552687,4711.528191
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,289.000000,0.020000,...,0.013952,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.695221,6.483358,0.264276,62.592946,0.150038,1.863354,0.082109,8.526885,24841.000000,37.350000,...,0.071605,664.500000,0.454545,3739.446676,0.051293,935.622673,0.100000,524.783531,0.222222,1102.651560
50%,16.288660,10.917816,1.001669,83.711340,0.508504,4.099142,0.220264,100.000000,30756.000000,41.570000,...,0.110560,2681.000000,0.719512,5833.305643,0.107143,2032.760434,0.184495,1111.773941,0.358523,1921.403467
75%,37.407054,23.085094,6.340451,92.304779,1.719629,10.763758,0.519481,100.000000,38835.000000,45.770000,...,0.187418,13459.000000,1.000000,8686.733465,0.174497,3414.719240,0.309580,2057.502485,0.526316,3238.571366
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,701688.000000,82.760000,...,0.679245,135256.000000,19.916667,337222.640000,3.000000,331865.666667,6.000000,174665.000000,18.750000,226948.000000

In [15]:
excluded_prefixes = ('962',
'963',
'964',
'965',
'966',
'090',
'091',
'092',
'093',
'094',
'095',
'096',
'097',
'098',
'006',
'007',
'008',
'009')

stats_df = stats_df[~stats_df.index.str.startswith(excluded_prefixes)]
stats_df

,Min Share,Min Share Excl B,Black Share,White Share,Asian Share,Hisp Share,Native Share,Rural,PC Inc,Gini,...,W_Avg Emp Min Share,Total Pop,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
ZIP,,,,,,,,,,,,,,,,,,,,,
01001,15.390956,13.312529,2.078427,84.609044,2.890956,6.771079,0.135422,0.965615,41144.0,42.84,...,0.104759,16984.0,0.975000,6192.889889,0.262500,3489.355111,0.331250,969.611157,0.381250,1733.923622
01002,36.718920,31.678641,5.040279,63.281080,15.712316,9.902751,0.166921,14.972059,38627.0,54.44,...,NaN,27558.0,0.878216,4561.670564,0.159520,1464.510542,0.317324,1505.790147,0.401372,1591.369875
01003,39.568400,32.943484,6.624915,60.431600,20.176564,8.737644,0.105636,0.000000,4935.0,50.23,...,0.069946,13253.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
01005,9.081633,8.142857,0.938776,90.918367,0.612245,3.122449,0.142857,100.000000,39783.0,33.77,...,0.094359,4900.0,0.559748,4675.046538,0.144654,2272.168044,0.169811,824.633609,0.245283,1578.244885
01007,13.311288,11.567140,1.744148,86.688712,2.379563,4.279323,0.038903,71.970434,43450.0,38.15,...,0.069946,15423.0,0.879479,7281.108612,0.205212,2738.212915,0.289902,2049.952241,0.384365,2492.943456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99923,10.606061,10.606061,0.000000,89.393939,0.000000,3.030303,0.000000,100.000000,NaN,NaN,...,NaN,66.0,0.250000,496.363636,0.000000,0.000000,0.250000,496.363636,0.000000,0.000000
99925,62.627551,62.117347,0.510204,37.372449,1.020408,1.785714,44.005102,100.000000,30746.0,44.80,...,NaN,784.0,0.633333,4215.119602,0.100000,1481.351394,0.233333,72.336454,0.300000,2661.431753
99926,90.332907,90.076825,0.256082,9.667093,0.000000,2.944942,74.327785,100.000000,24979.0,38.18,...,NaN,1562.0,1.000000,1304.379020,0.000000,0.000000,0.083333,895.882353,0.916667,408.496667
99927,14.285714,14.285714,0.000000,85.714286,0.000000,4.081633,0.000000,100.000000,NaN,NaN,...,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99929,36.459836,36.459836,0.000000,63.540164,1.202501,3.607504,17.364117,100.000000,31080.0,41.46,...,NaN,2079.0,2.505263,6724.794768,0.378947,1296.168671,0.642105,1334.313101,1.484211,4094.312996

In [16]:
def weighted_average(df, values_col, weights_col):
    # Element-wise multiplication, ignoring NaNs
    weighted_values = df[values_col] * df[weights_col]
    
    # Sum of weighted values and weights, ignoring NaNs
    sum_weighted_values = weighted_values.sum(skipna=True)
    sum_weights = df[weights_col].sum(skipna=True)
    
    # Calculate weighted average, returning NaN if not computable
    if sum_weights == 0:
        return np.nan
    else:
        return sum_weighted_values / sum_weights

In [17]:
for column in stats_df.columns:
    if column != "Total Pop":
        print(column)
        sub_data = master_df[~master_df["Min Share"].isnull()][[column, "Total Pop"]]
        print(weighted_average(sub_data, column, "Total Pop"))

Min Share
42.723896750764816
Min Share Excl B
30.79049627686281
Black Share
11.933400473902005
White Share
57.276103249235184
Asian Share
5.861855861069847
Hisp Share
19.51655641718283
Native Share
0.6724129764822445
Rural
19.88455407593475
PC Inc
37512.35111359813
Gini
43.58688009048675
UR
5.499028274607905
%BachOrMore
33.40044956532447
W_Avg Emp Min Share
0.1442346015537462
W_Avg Emp Black Share
0.014944787172054962
W_Avg Emp White Share
0.7328978332593434
W_Avg Emp Asian Share
0.07553803104477251
W_Avg Emp Hisp Share
0.04269534723950568
W_Avg Emp Non-Hisp Share
0.7848242392247963
W_Avg Emp Min Share
0.1442346015537462
W_Avg Emp Min Share
0.1442346015537462
Loans per Emp Bus
1.094136533818417
Avg Loan Amt per Emp
6157.904137748315
Loans per Emp Bus_1
0.14490927964739422
Avg Loan Amt per Emp_1
2261.3706299320606
Loans per Emp Bus_2
0.32993898695973084
Avg Loan Amt per Emp_2
1610.8038972113081
Loans per Emp Bus_3
0.619288267211292
Avg Loan Amt per Emp_3
2285.7296106049466

In [18]:
stats_df.to_csv("PPP_Agg.csv")