In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import csv
import os

In [14]:
# Initialize the master DataFrame
master_df = pd.read_csv("ZIPdf.csv")
master_df.rename(columns={"Unnamed: 0" : "ZIP"}, inplace=True)
master_df["ZIP"] = master_df["ZIP"].astype(str).str.zfill(5)
master_df.set_index("ZIP", inplace=True)
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3
ZIP,,,,,,,,,,,,,,,
00501,NaN,5.0,5.0,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,0.997854,0.000058,17242.0,2.0,328260.00,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0
00602,NaN,NaN,NaN,0.994327,0.000266,37548.0,19.0,2198895.86,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0
00603,NaN,NaN,NaN,0.988274,0.001606,49804.0,22.0,5084300.00,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0
00606,NaN,NaN,NaN,0.994809,0.000200,5009.0,1.0,4800.00,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,45000.00,7.0,NaN,NaN,NaN
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3075.00,1.0,NaN,NaN,NaN
54969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11100.00,6.0,NaN,NaN,NaN
25773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6200.00,1.0,NaN,NaN,NaN
25919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7100.00,3.0,NaN,NaN,NaN

In [3]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "Files.csv")
file_df

                               File  Completed
0       public_150k_plus_230630.csv          0
1    public_up_to_150k_1_230630.csv          0
2    public_up_to_150k_2_230630.csv          0
3    public_up_to_150k_3_230630.csv          0
4    public_up_to_150k_4_230630.csv          0
5    public_up_to_150k_5_230630.csv          0
6    public_up_to_150k_6_230630.csv          0
7    public_up_to_150k_7_230630.csv          0
8    public_up_to_150k_8_230630.csv          0
9    public_up_to_150k_9_230630.csv          0
10  public_up_to_150k_10_230630.csv          0
11  public_up_to_150k_11_230630.csv          0
12  public_up_to_150k_12_230630.csv          0

In [4]:
def assign_value_based_on_date(date):
    if date < pd.Timestamp('2020-04-17'):
        return '_1'
    elif date < pd.Timestamp('2020-08-09'):
        return '_2'
    else:
        return '_3'
traunches = ["_1", "_2", "_3"]

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    with open("Problem Rows.txt", "a") as p:
        chunk_size = 80000
        for chunk in pd.read_csv(file_name, chunksize=chunk_size, usecols=['NonProfit', 
                                                                           'BusinessType', 
                                                                           'NAICSCode', 
                                                                           'BorrowerZip', 
                                                                           'DateApproved', 
                                                                           'InitialApprovalAmount', 
                                                                           'JobsReported']):
            # Filter chunk to only needed observations
            chunk = chunk[chunk["NonProfit"] != "Y"]
            chunk = chunk[~chunk["BusinessType"].isin(["Sole Proprietorship",
                                                      "Independent Contractors",
                                                      "Self-Employed Individuals"])]
            chunk = chunk[~chunk["NAICSCode"].isin([999990])]
            #chunk = chunk[chunk["NAICSCode"].notnull()]
            chunk.dropna(subset=["BorrowerZip"], inplace=True)

            # Edit chunk to include necessary info
            chunk["DateApproved"] = pd.to_datetime(chunk["DateApproved"])
            chunk["Traunch"] = chunk["DateApproved"].apply(assign_value_based_on_date)
            chunk["BorrowerZip"] = chunk["BorrowerZip"].astype(str).str[:5]
            
            # Aggregate Data
            grouped = chunk.groupby(['BorrowerZip', 'Traunch']).agg({
                'InitialApprovalAmount': 'sum',
                'JobsReported': 'sum',
                'Traunch': 'size'  # Count of loans
            })

            # Update master_df
            for (zip_, traunch), row in grouped.iterrows():
                if zip_ in master_df.index:
                    master_df.loc[zip_, f"Number of Loans{traunch}"] += row['Traunch']  # Update the number of loans
                    master_df.loc[zip_, f"Total Loans Amount{traunch}"] += row['InitialApprovalAmount']
                    master_df.loc[zip_, f"Total Employees{traunch}"] += row['JobsReported'] 
                else:
                    # Create a new row filled with NaNs but update the relevant columns
                    new_row = pd.Series(name=zip_, dtype='float64')  # Create a Series with name set to the ZIP code
                    new_row[f"Number of Loans{traunch}"] = row['Traunch']
                    new_row[f"Total Loans Amount{traunch}"] = row['InitialApprovalAmount']
                    new_row[f"Total Employees{traunch}"] = row['JobsReported']
        
                    # Append the new row to the master DataFrame
                    master_df = master_df.append(new_row)
                    print("Created new row for ZIP code: " + zip_)
                        
    file_df[file_df["File"] == file]["Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")
    
    # Ask for user confirmation to proceed to the next file
    user_input = input("Do you want to continue with the next file? (y/n): ")
    if user_input.lower() != 'y':
        print("Stopping the process.")
        # Save the master DataFrame to disk
        master_df.to_csv('ZIPdf.csv')
        file_df.to_csv(base + "Files.csv", index=False)
        break

Processing public_150k_plus_230630.csv...
Created new row for ZIP code: 35142
Created new row for ZIP code: 35478
Created new row for ZIP code: 36671
Created new row for ZIP code: 36807
Created new row for ZIP code: 36824
Created new row for ZIP code: 72260
Created new row for ZIP code: 85074
Created new row for ZIP code: 85190
Created new row for ZIP code: 88532
Created new row for ZIP code: 90223
Created new row for ZIP code: 91385
Created new row for ZIP code: 92100
Created new row for ZIP code: 92170
Created new row for ZIP code: 92599
Created new row for ZIP code: 92686
Created new row for ZIP code: 93590
Created new row for ZIP code: 94661
Created new row for ZIP code: 95103
Created new row for ZIP code: 95164
Created new row for ZIP code: 95440
Created new row for ZIP code: 96312
Created new row for ZIP code: 96799
Created new row for ZIP code: 02592
Created new row for ZIP code: 90251
Created new row for ZIP code: 90355
Created new row for ZIP code: 90400
Created new row for ZIP code: 91121
Created new row for ZIP code: 93118
Created new row for ZIP code: 93709
Created new row for ZIP code: 94101
Created new row for ZIP code: 94142
Created new row for ZIP code: 94712
Created new row for ZIP code: 94870
Created new row for ZIP code: 94977
Created new row for ZIP code: 95068
Created new row for ZIP code: 95104
Created new row for ZIP code: 95172
Created new row for ZIP code: 95339
Created new row for ZIP code: 95534
Created new row for ZIP code: 95866
Created new row for ZIP code: 96368
Created new row for ZIP code: 06025
Created new row for ZIP code: 06123
Created new row for ZIP code: 06160
Created new row for ZIP code: 06487
Created new row for ZIP code: 06531
Created new row for ZIP code: 06723
Created new row for ZIP code: 06911
Created new row for ZIP code: 20039
Created new row for ZIP code: 20056
Created new row for ZIP code: 32378
Created new row for ZIP code: 33242
Created new row for ZIP code: 33459
Created new row for ZIP code: 33499
Created new row for ZIP code: 34673
Created new row for ZIP code: 62680
Created new row for ZIP code: 80047
Created new row for ZIP code: 80254
Created new row for ZIP code: 96492
Created new row for ZIP code: 30146
Created new row for ZIP code: 33188
Created new row for ZIP code: 33662
Created new row for ZIP code: 52407
Created new row for ZIP code: 61131
Created new row for ZIP code: 96802
Created new row for ZIP code: 96803
Created new row for ZIP code: 96910
Created new row for ZIP code: 96913
Created new row for ZIP code: 96915
Created new row for ZIP code: 96921
Created new row for ZIP code: 96928
Created new row for ZIP code: 96929
Created new row for ZIP code: 96931
Created new row for ZIP code: 96932
Created new row for ZIP code: 02305
Created new row for ZIP code: 40251
Created new row for ZIP code: 40298
Created new row for ZIP code: 40512
Created new row for ZIP code: 40582
Created new row for ZIP code: 40745
Created new row for ZIP code: 46277
Created new row for ZIP code: 46853
Created new row for ZIP code: 46855
Created new row for ZIP code: 46862
Created new row for ZIP code: 47618
Created new row for ZIP code: 47735
Created new row for ZIP code: 60572
Created new row for ZIP code: 61652
Created new row for ZIP code: 66119
Created new row for ZIP code: 70009
Created new row for ZIP code: 70010
Created new row for ZIP code: 70033
Created new row for ZIP code: 70160
Created new row for ZIP code: 70704
Created new row for ZIP code: 71329
Created new row for ZIP code: 20719
Created new row for ZIP code: 20750
Created new row for ZIP code: 20825
Created new row for ZIP code: 21284
Created new row for ZIP code: 21504
Created new row for ZIP code: 21528
Created new row for ZIP code: 49317
Created new row for ZIP code: 49515
Created new row for ZIP code: 03589
Created new row for ZIP code: 27294
Created new row for ZIP code: 55470
Created new row for ZIP code: 55487
Created new row for ZIP code: 64195
Created new row for ZIP code: 96950
Created new row for ZIP code: 96951
Created new row for ZIP code: 07395
Created new row for ZIP code: 07799
Created new row for ZIP code: 08605
Created new row for ZIP code: 11800
Created new row for ZIP code: 13761
Created new row for ZIP code: 13840
Created new row for ZIP code: 14751
Created new row for ZIP code: 80704
Created new row for ZIP code: 89162
Created new row for ZIP code: 04215
Created new row for ZIP code: 10808
Created new row for ZIP code: 11251
Created new row for ZIP code: 42615
Created new row for ZIP code: 43803
Created new row for ZIP code: 44315
Created new row for ZIP code: 44326
Created new row for ZIP code: 45235
Created new row for ZIP code: 45277
Created new row for ZIP code: 45408
Created new row for ZIP code: 73195
Created new row for ZIP code: 00604
Created new row for ZIP code: 00605
Created new row for ZIP code: 00613
Created new row for ZIP code: 00614
Created new row for ZIP code: 00681
Created new row for ZIP code: 00726
Created new row for ZIP code: 00732
Created new row for ZIP code: 00733
Created new row for ZIP code: 00737
Created new row for ZIP code: 00785
Created new row for ZIP code: 00792
Created new row for ZIP code: 00902
Created new row for ZIP code: 00908
Created new row for ZIP code: 00910
Created new row for ZIP code: 00914
Created new row for ZIP code: 00919
Created new row for ZIP code: 00922
Created new row for ZIP code: 00928
Created new row for ZIP code: 00929
Created new row for ZIP code: 00930
Created new row for ZIP code: 00933
Created new row for ZIP code: 00936
Created new row for ZIP code: 00937
Created new row for ZIP code: 00939
Created new row for ZIP code: 00954
Created new row for ZIP code: 00958
Created new row for ZIP code: 00963
Created new row for ZIP code: 00970
Created new row for ZIP code: 00975
Created new row for ZIP code: 00977
Created new row for ZIP code: 00978
Created new row for ZIP code: 00981
Created new row for ZIP code: 00984
Created new row for ZIP code: 00986
Created new row for ZIP code: 00988
Created new row for ZIP code: 09401
Created new row for ZIP code: 18515
Created new row for ZIP code: 19346
Created new row for ZIP code: 97076
Created new row for ZIP code: 97250
Created new row for ZIP code: 75045
Created new row for ZIP code: 75129
Created new row for ZIP code: 75285
Created new row for ZIP code: 00256
Created new row for ZIP code: 00801
Created new row for ZIP code: 00802
Created new row for ZIP code: 00803
Created new row for ZIP code: 00804
Created new row for ZIP code: 00820
Created new row for ZIP code: 00823
Created new row for ZIP code: 00824
Created new row for ZIP code: 00830
Created new row for ZIP code: 00831
Created new row for ZIP code: 00840
Created new row for ZIP code: 00850
Created new row for ZIP code: 00851
Created new row for ZIP code: 23705
Created new row for ZIP code: 24007
Created new row for ZIP code: 24008
Created new row for ZIP code: 24146
Created new row for ZIP code: 24513
Created new row for ZIP code: 53112
Created new row for ZIP code: 53702
Created new row for ZIP code: 53957
Created new row for ZIP code: 54906
Created new row for ZIP code: 84145
Created new row for ZIP code: 84407
Created new row for ZIP code: 98141
Created new row for ZIP code: 98490
Created new row for ZIP code: 99215
Created new row for ZIP code: 25326
Created new row for ZIP code: 25328
Created new row for ZIP code: 25334
Created new row for ZIP code: 25357
Created new row for ZIP code: 25725
Created new row for ZIP code: 25726
Created new row for ZIP code: 25728
Created new row for ZIP code: 25729
Created new row for ZIP code: 25772
Created new row for ZIP code: 25778
Updated master DataFrame with data from public_150k_plus_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_1_230630.csv...
Created new row for ZIP code: 09724
Created new row for ZIP code: 09803
Created new row for ZIP code: 35015
Created new row for ZIP code: 35086
Created new row for ZIP code: 35182
Created new row for ZIP code: 35220
Created new row for ZIP code: 35261
Created new row for ZIP code: 35295
Created new row for ZIP code: 35607
Created new row for ZIP code: 36118
Created new row for ZIP code: 36135
Created new row for ZIP code: 65404
Created new row for ZIP code: 99697

Created new row for ZIP code: 35246
Created new row for ZIP code: 36062
Created new row for ZIP code: 36640
Created new row for ZIP code: 03542
Created new row for ZIP code: 36508
Created new row for ZIP code: 85038
Created new row for ZIP code: 85106
Created new row for ZIP code: 85220
Created new row for ZIP code: 85294
Created new row for ZIP code: 86026
Created new row for ZIP code: 85178
Created new row for ZIP code: 85288
Created new row for ZIP code: 88537
Created new row for ZIP code: 85058
Created new row for ZIP code: 85242
Created new row for ZIP code: 94926
Created new row for ZIP code: 95026
Created new row for ZIP code: 98212
Created new row for ZIP code: 00092
Created new row for ZIP code: 90273
Created new row for ZIP code: 91603
Created new row for ZIP code: 91609
Created new row for ZIP code: 92815
Created new row for ZIP code: 93793
Created new row for ZIP code: 94883
Created new row for ZIP code: 95157
Created new row for ZIP code: 95214
Created new row for ZIP code: 95433
Created new row for ZIP code: 95644
Created new row for ZIP code: 95766
Created new row for ZIP code: 96214
Created new row for ZIP code: 90624
Created new row for ZIP code: 91333
Created new row for ZIP code: 91435
Created new row for ZIP code: 91952
Created new row for ZIP code: 92053
Created new row for ZIP code: 92750
Created new row for ZIP code: 92876
Created new row for ZIP code: 93009
Created new row for ZIP code: 93233
Created new row for ZIP code: 93707
Created new row for ZIP code: 94250
Created new row for ZIP code: 95105
Created new row for ZIP code: 95723
Created new row for ZIP code: 95785
Created new row for ZIP code: 95865
Created new row for ZIP code: 90072
Created new row for ZIP code: 90271
Created new row for ZIP code: 90310
Created new row for ZIP code: 90734
Created new row for ZIP code: 91115
Created new row for ZIP code: 91396
Created new row for ZIP code: 91561
Created new row for ZIP code: 92640
Created new row for ZIP code: 92921
Created new row for ZIP code: 94227
Created new row for ZIP code: 94820
Created new row for ZIP code: 95071
Created new row for ZIP code: 95281
Created new row for ZIP code: 90331
Created new row for ZIP code: 90671
Created new row for ZIP code: 91110
Created new row for ZIP code: 91337
Created new row for ZIP code: 91394
Created new row for ZIP code: 91804
Created new row for ZIP code: 92723
Created new row for ZIP code: 92820
Created new row for ZIP code: 94614
Created new row for ZIP code: 29106
Created new row for ZIP code: 90361
Created new row for ZIP code: 91129
Created new row for ZIP code: 91976
Created new row for ZIP code: 92174
Created new row for ZIP code: 93502
Created new row for ZIP code: 94172
Updated master DataFrame with data from public_up_to_150k_1_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_2_230630.csv...
Created new row for ZIP code: 20278
Created new row for ZIP code: 93586
Created new row for ZIP code: 95860
Created new row for ZIP code: 90227
Created new row for ZIP code: 91707
Created new row for ZIP code: 92051
Created new row for ZIP code: 92175
Created new row for ZIP code: 92812
Created new row for ZIP code: 94410
Created new row for ZIP code: 95533
Created new row for ZIP code: 90294
Created new row for ZIP code: 90832
Created new row for ZIP code: 91743
Created new row for ZIP code: 92669
Created new row for ZIP code: 93760
Created new row for ZIP code: 94341
Created new row for ZIP code: 94821
Created new row for ZIP code: 92735
Created new row for ZIP code: 94615
Created new row for ZIP code: 92302
Created new row for ZIP code: 96079
Created new row for ZIP code: 98060
Created new row for ZIP code: 62064
Created new row for ZIP code: 82344
Created new row for ZIP code: 80036
Created new row for ZIP code: 81260
Created new row for ZIP code: 80165
Created new row for ZIP code: 80256
Created new row for ZIP code: 06077
Created new row for ZIP code: 06104
Created new row for ZIP code: 06138
Created new row for ZIP code: 06146
Created new row for ZIP code: 06147
Created new row for ZIP code: 06230
Created new row for ZIP code: 06233
Created new row for ZIP code: 06535
Created new row for ZIP code: 06726
Created new row for ZIP code: 06879
Created new row for ZIP code: 11111
Created new row for ZIP code: 16498
Created new row for ZIP code: 06404
Created new row for ZIP code: 06493
Created new row for ZIP code: 65130
Updated master DataFrame with data from public_up_to_150k_2_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_3_230630.csv...
Created new row for ZIP code: 06132
Created new row for ZIP code: 06140
Created new row for ZIP code: 19712
Created new row for ZIP code: 20027
Created new row for ZIP code: 20033
Created new row for ZIP code: 20035
Created new row for ZIP code: 20040
Created new row for ZIP code: 20043
Created new row for ZIP code: 20229
Created new row for ZIP code: 20237
Created new row for ZIP code: 20403
Created new row for ZIP code: 26765
Created new row for ZIP code: 65160
Created new row for ZIP code: 11496
Created new row for ZIP code: 32870
Created new row for ZIP code: 33206
Created new row for ZIP code: 32030
Created new row for ZIP code: 32556
Created new row for ZIP code: 33736
Created new row for ZIP code: 34692
Created new row for ZIP code: 32231
Created new row for ZIP code: 33238
Created new row for ZIP code: 33333
Created new row for ZIP code: 33630
Created new row for ZIP code: 33661
Created new row for ZIP code: 34218
Created new row for ZIP code: 34410
Created new row for ZIP code: 88183
Created new row for ZIP code: 34562
Created new row for ZIP code: 32125
Created new row for ZIP code: 33342
Created new row for ZIP code: 33078
Created new row for ZIP code: 33089
Created new row for ZIP code: 33234
Created new row for ZIP code: 33623
Created new row for ZIP code: 34281
Created new row for ZIP code: 31654
Created new row for ZIP code: 34244
Created new row for ZIP code: 33112
Updated master DataFrame with data from public_up_to_150k_3_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_4_230630.csv...
Created new row for ZIP code: 30026
Created new row for ZIP code: 30353
Created new row for ZIP code: 30388
Created new row for ZIP code: 30392
Created new row for ZIP code: 30394
Created new row for ZIP code: 31141
Created new row for ZIP code: 07200
Created new row for ZIP code: 30027
Created new row for ZIP code: 30167
Created new row for ZIP code: 31786
Created new row for ZIP code: 31131
Created new row for ZIP code: 30160
Created new row for ZIP code: 30819
Created new row for ZIP code: 50981
Created new row for ZIP code: 96805
Created new row for ZIP code: 96806
Created new row for ZIP code: 96807
Created new row for ZIP code: 96836
Created new row for ZIP code: 96844
Created new row for ZIP code: 96912
Created new row for ZIP code: 96916
Created new row for ZIP code: 96917
Created new row for ZIP code: 96919
Created new row for ZIP code: 52504
Created new row for ZIP code: 52149
Created new row for ZIP code: 52409
Created new row for ZIP code: 82813
Created new row for ZIP code: 83865
Updated master DataFrame with data from public_up_to_150k_4_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_5_230630.csv...
Created new row for ZIP code: 60128
Created new row for ZIP code: 60658
Created new row for ZIP code: 60674
Created new row for ZIP code: 60488
Created new row for ZIP code: 60669
Created new row for ZIP code: 61130
Created new row for ZIP code: 60405
Created new row for ZIP code: 60668
Created new row for ZIP code: 60704
Created new row for ZIP code: 62909
Created new row for ZIP code: 60681
Created new row for ZIP code: 61106
Created new row for ZIP code: 61716
Created new row for ZIP code: 83108
Created new row for ZIP code: 60199
Created new row for ZIP code: 43234
Created new row for ZIP code: 46067
Created new row for ZIP code: 46073
Created new row for ZIP code: 46246
Created new row for ZIP code: 46262
Created new row for ZIP code: 46413
Created new row for ZIP code: 47322
Created new row for ZIP code: 47704
Created new row for ZIP code: 47734

Created new row for ZIP code: 56203
Created new row for ZIP code: 65107
Created new row for ZIP code: 46713
Created new row for ZIP code: 46852
Created new row for ZIP code: 46854
Created new row for ZIP code: 47245
Created new row for ZIP code: 60744
Created new row for ZIP code: 46863
Created new row for ZIP code: 47730
Created new row for ZIP code: 66420
Created new row for ZIP code: 66667
Created new row for ZIP code: 66855
Created new row for ZIP code: 40224
Created new row for ZIP code: 40266
Created new row for ZIP code: 40524
Created new row for ZIP code: 40574
Created new row for ZIP code: 42288
Created new row for ZIP code: 40129
Updated master DataFrame with data from public_up_to_150k_5_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_6_230630.csv...
Created new row for ZIP code: 41561
Created new row for ZIP code: 70156
Created new row for ZIP code: 70172
Created new row for ZIP code: 70177
Created new row for ZIP code: 70186
Created new row for ZIP code: 70212
Created new row for ZIP code: 70883
Created new row for ZIP code: 71164
Created new row for ZIP code: 70016
Created new row for ZIP code: 70042
Created new row for ZIP code: 70708
Created new row for ZIP code: 70831
Created new row for ZIP code: 71163
Created new row for ZIP code: 01813
Created new row for ZIP code: 02040
Created new row for ZIP code: 02475
Created new row for ZIP code: 02479
Created new row for ZIP code: 70151
Created new row for ZIP code: 71377
Created new row for ZIP code: 01139
Created new row for ZIP code: 01586
Created new row for ZIP code: 01812
Created new row for ZIP code: 01822
Created new row for ZIP code: 02055
Created new row for ZIP code: 02456
Created new row for ZIP code: 91089
Created new row for ZIP code: 01614
Created new row for ZIP code: 01825
Created new row for ZIP code: 01971
Created new row for ZIP code: 01986
Created new row for ZIP code: 02059
Created new row for ZIP code: 02348
Created new row for ZIP code: 02381
Created new row for ZIP code: 20731
Created new row for ZIP code: 20753
Created new row for ZIP code: 20775
Created new row for ZIP code: 20813
Created new row for ZIP code: 20885
Created new row for ZIP code: 20913
Created new row for ZIP code: 20915
Created new row for ZIP code: 21065
Created new row for ZIP code: 21070
Created new row for ZIP code: 21150
Created new row for ZIP code: 21264
Created new row for ZIP code: 21891
Created new row for ZIP code: 20752
Created new row for ZIP code: 20790
Created new row for ZIP code: 20848
Created new row for ZIP code: 20916
Created new row for ZIP code: 20918
Created new row for ZIP code: 03014
Created new row for ZIP code: 04230
Created new row for ZIP code: 04672
Created new row for ZIP code: 09734
Created new row for ZIP code: 10412
Created new row for ZIP code: 48222
Created new row for ZIP code: 48277
Created new row for ZIP code: 48366
Created new row for ZIP code: 94210
Created new row for ZIP code: 46503
Created new row for ZIP code: 48000
Created new row for ZIP code: 48344
Created new row for ZIP code: 48555
Created new row for ZIP code: 48685
Created new row for ZIP code: 48882
Created new row for ZIP code: 48980
Created new row for ZIP code: 48016
Created new row for ZIP code: 48244
Created new row for ZIP code: 48918
Created new row for ZIP code: 40418
Created new row for ZIP code: 49510
Updated master DataFrame with data from public_up_to_150k_6_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_7_230630.csv...
Created new row for ZIP code: 49528
Created new row for ZIP code: 49761
Created new row for ZIP code: 55815
Created new row for ZIP code: 53346
Created new row for ZIP code: 55146
Created new row for ZIP code: 63188
Created new row for ZIP code: 64196
Created new row for ZIP code: 96952
Created new row for ZIP code: 38958
Created new row for ZIP code: 39077
Created new row for ZIP code: 39436
Created new row for ZIP code: 26226
Created new row for ZIP code: 27117
Created new row for ZIP code: 28123
Created new row for ZIP code: 28410
Created new row for ZIP code: 28913
Created new row for ZIP code: 59004
Created new row for ZIP code: 27049
Created new row for ZIP code: 27165
Created new row for ZIP code: 27661
Updated master DataFrame with data from public_up_to_150k_7_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_8_230630.csv...
Created new row for ZIP code: 68109
Created new row for ZIP code: 03859
Created new row for ZIP code: 07308
Created new row for ZIP code: 07445
Created new row for ZIP code: 08058
Created new row for ZIP code: 08630
Created new row for ZIP code: 08710
Created new row for ZIP code: 08945
Created new row for ZIP code: 97421
Created new row for ZIP code: 02701
Created new row for ZIP code: 00885
Created new row for ZIP code: 04524
Created new row for ZIP code: 08604
Created new row for ZIP code: 08956
Created new row for ZIP code: 08252
Created new row for ZIP code: 08878
Created new row for ZIP code: 81918
Created new row for ZIP code: 86103
Created new row for ZIP code: 89170
Created new row for ZIP code: 89177
Created new row for ZIP code: 89195
Created new row for ZIP code: 90431
Created new row for ZIP code: 10081
Created new row for ZIP code: 10272
Created new row for ZIP code: 10959
Created new row for ZIP code: 12001
Created new row for ZIP code: 12284
Created new row for ZIP code: 13218
Created new row for ZIP code: 13235
Created new row for ZIP code: 10130
Created new row for ZIP code: 11748
Created new row for ZIP code: 64220
Created new row for ZIP code: 10498
Created new row for ZIP code: 10947
Created new row for ZIP code: 11275
Created new row for ZIP code: 11526
Created new row for ZIP code: 11781
Created new row for ZIP code: 13505
Created new row for ZIP code: 10062
Created new row for ZIP code: 11541
Created new row for ZIP code: 12288
Created new row for ZIP code: 14538
Created new row for ZIP code: 12055
Updated master DataFrame with data from public_up_to_150k_8_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_9_230630.csv...
Created new row for ZIP code: 10572
Created new row for ZIP code: 11012
Created new row for ZIP code: 11734
Created new row for ZIP code: 12848
Created new row for ZIP code: 14745
Created new row for ZIP code: 11068
Created new row for ZIP code: 11137
Created new row for ZIP code: 11773
Created new row for ZIP code: 01427
Created new row for ZIP code: 11307
Created new row for ZIP code: 11775
Created new row for ZIP code: 11825
Created new row for ZIP code: 11017
Created new row for ZIP code: 13763
Created new row for ZIP code: 14262
Created new row for ZIP code: 11247
Created new row for ZIP code: 43603
Created new row for ZIP code: 44073
Created new row for ZIP code: 44227
Created new row for ZIP code: 45258
Created new row for ZIP code: 45329
Created new row for ZIP code: 43937
Created new row for ZIP code: 44014
Created new row for ZIP code: 44097
Created new row for ZIP code: 44396
Created new row for ZIP code: 44933
Created new row for ZIP code: 45234
Created new row for ZIP code: 43012
Created new row for ZIP code: 43226
Created new row for ZIP code: 43169
Created new row for ZIP code: 43593
Created new row for ZIP code: 44088
Created new row for ZIP code: 44156
Created new row for ZIP code: 44194
Created new row for ZIP code: 44848
Created new row for ZIP code: 44016
Created new row for ZIP code: 73124
Created new row for ZIP code: 87405
Created new row for ZIP code: 97129
Created new row for ZIP code: 97251
Created new row for ZIP code: 97312
Created new row for ZIP code: 97428
Updated master DataFrame with data from public_up_to_150k_9_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_10_230630.csv...
Created new row for ZIP code: 16805
Created new row for ZIP code: 17312
Created new row for ZIP code: 18907
Created new row for ZIP code: 19366
Created new row for ZIP code: 19451
Created new row for ZIP code: 11918
Created new row for ZIP code: 15336
Created new row for ZIP code: 16413
Created new row for ZIP code: 17705
Created new row for ZIP code: 18098

Created new row for ZIP code: 19283
Created new row for ZIP code: 19327
Created new row for ZIP code: 19648
Created new row for ZIP code: 15549
Created new row for ZIP code: 19455
Created new row for ZIP code: 19484
Created new row for ZIP code: 00095
Created new row for ZIP code: 00098
Created new row for ZIP code: 00619
Created new row for ZIP code: 00626
Created new row for ZIP code: 00645
Created new row for ZIP code: 00668
Created new row for ZIP code: 00689
Created new row for ZIP code: 00721
Created new row for ZIP code: 00724
Created new row for ZIP code: 00742
Created new row for ZIP code: 00762
Created new row for ZIP code: 00916
Created new row for ZIP code: 00931
Created new row for ZIP code: 00935
Created new row for ZIP code: 00940
Created new row for ZIP code: 00989
Created new row for ZIP code: 19874
Created new row for ZIP code: 02980
Created new row for ZIP code: 29350
Created new row for ZIP code: 29476
Created new row for ZIP code: 29705
Created new row for ZIP code: 29217
Created new row for ZIP code: 29264
Created new row for ZIP code: 29598
Created new row for ZIP code: 37230
Created new row for ZIP code: 37773
Created new row for ZIP code: 77261
Created new row for ZIP code: 79948
Created new row for ZIP code: 75317
Updated master DataFrame with data from public_up_to_150k_10_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_11_230630.csv...
Created new row for ZIP code: 71587
Created new row for ZIP code: 75277
Created new row for ZIP code: 76506
Created new row for ZIP code: 77230
Created new row for ZIP code: 79914
Created new row for ZIP code: 74024
Created new row for ZIP code: 77208
Created new row for ZIP code: 79130
Created new row for ZIP code: 76949
Created new row for ZIP code: 79712
Created new row for ZIP code: 70202
Created new row for ZIP code: 77202
Created new row for ZIP code: 78718
Created new row for ZIP code: 56112
Created new row for ZIP code: 78285
Created new row for ZIP code: 79931
Created new row for ZIP code: 74494
Created new row for ZIP code: 77217
Created new row for ZIP code: 84151
Created new row for ZIP code: 88403
Created new row for ZIP code: 94049
Created new row for ZIP code: 23465
Created new row for ZIP code: 24025
Created new row for ZIP code: 24026
Updated master DataFrame with data from public_up_to_150k_11_230630.csv.
Do you want to continue with the next file? (y/n): y
Processing public_up_to_150k_12_230630.csv...
Created new row for ZIP code: 22109
Created new row for ZIP code: 22219
Created new row for ZIP code: 22330
Created new row for ZIP code: 22428
Created new row for ZIP code: 22442
Created new row for ZIP code: 22456
Created new row for ZIP code: 22544
Created new row for ZIP code: 23515
Created new row for ZIP code: 23820
Created new row for ZIP code: 24037
Created new row for ZIP code: 24108
Created new row for ZIP code: 24640
Created new row for ZIP code: 20125
Created new row for ZIP code: 20163
Created new row for ZIP code: 00805
Created new row for ZIP code: 00821
Created new row for ZIP code: 00822
Created new row for ZIP code: 00841
Created new row for ZIP code: 05357
Created new row for ZIP code: 05609
Created new row for ZIP code: 05662
Created new row for ZIP code: 05665
Created new row for ZIP code: 05745
Created new row for ZIP code: 05861
Created new row for ZIP code: 15304
Created new row for ZIP code: 90107
Created new row for ZIP code: 54320
Created new row for ZIP code: 53101
Created new row for ZIP code: 53288
Created new row for ZIP code: 53326
Created new row for ZIP code: 53902
Created new row for ZIP code: 54532
Created new row for ZIP code: 54704
Created new row for ZIP code: 54860
Created new row for ZIP code: 57971
Created new row for ZIP code: 25327
Created new row for ZIP code: 25331
Created new row for ZIP code: 25332
Created new row for ZIP code: 25338
Created new row for ZIP code: 25361
Created new row for ZIP code: 25423
Created new row for ZIP code: 25727
Created new row for ZIP code: 54894
Created new row for ZIP code: 54969
Created new row for ZIP code: 25773
Created new row for ZIP code: 25919
Updated master DataFrame with data from public_up_to_150k_12_230630.csv.
Do you want to continue with the next file? (y/n): n
Stopping the process.

In [7]:
# master_df["Number of Loans_1"] = 0
# master_df["Total Loans Amount_1"] = 0
# master_df["Total Employees_1"] = 0

# master_df["Number of Loans_2"] = 0
# master_df["Total Loans Amount_2"] = 0
# master_df["Total Employees_2"] = 0

# master_df["Number of Loans_3"] = 0
# master_df["Total Loans Amount_3"] = 0
# master_df["Total Employees_3"] = 0

# master_df.to_csv("ZIPdf.csv")

In [9]:
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3
ZIP,,,,,,,,,,,,,,,
00501,NaN,5.0,5.0,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,0.997854,0.000058,17242.0,2.0,328260.00,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0
00602,NaN,NaN,NaN,0.994327,0.000266,37548.0,19.0,2198895.86,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0
00603,NaN,NaN,NaN,0.988274,0.001606,49804.0,22.0,5084300.00,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0
00606,NaN,NaN,NaN,0.994809,0.000200,5009.0,1.0,4800.00,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,45000.00,7.0,NaN,NaN,NaN
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3075.00,1.0,NaN,NaN,NaN
54969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11100.00,6.0,NaN,NaN,NaN
25773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6200.00,1.0,NaN,NaN,NaN
25919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7100.00,3.0,NaN,NaN,NaN

In [16]:
master_df["Total Loans"] = master_df["Number of Loans_1"].add(master_df["Number of Loans_2"], fill_value = 0).add(master_df["Number of Loans_3"], fill_value = 0)
master_df["Total Loan Amount"] = master_df["Total Loans Amount_1"].add(master_df["Total Loans Amount_2"], fill_value = 0).add(master_df["Total Loans Amount_3"], fill_value = 0)
master_df["Total Employees"] = master_df["Total Employees_1"].add(master_df["Total Employees_2"], fill_value = 0).add(master_df["Total Employees_3"], fill_value = 0)
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3,Total Loans,Total Loan Amount,Total Employees
ZIP,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,5.0,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,0.997854,0.000058,17242.0,2.0,328260.00,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0,81.0,1962033.89,793.0
00602,NaN,NaN,NaN,0.994327,0.000266,37548.0,19.0,2198895.86,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0,300.0,10408277.68,3113.0
00603,NaN,NaN,NaN,0.988274,0.001606,49804.0,22.0,5084300.00,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0,423.0,21958044.43,6572.0
00606,NaN,NaN,NaN,0.994809,0.000200,5009.0,1.0,4800.00,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0,13.0,198617.00,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,45000.00,7.0,NaN,NaN,NaN,1.0,45000.00,7.0
54894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3075.00,1.0,NaN,NaN,NaN,1.0,3075.00,1.0
54969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11100.00,6.0,NaN,NaN,NaN,1.0,11100.00,6.0
25773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6200.00,1.0,NaN,NaN,NaN,1.0,6200.00,1.0
25919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7100.00,3.0,NaN,NaN,NaN,1.0,7100.00,3.0

In [17]:
master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Total Employees_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Total Employees_2", 
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Employees_3",
           "Total Loans",
           "Total Loan Amount",
           "Total Employees"]] = master_df[["Number of Loans_1",
           "Total Loans Amount_1",
           "Total Employees_1",
           "Number of Loans_2",
           "Total Loans Amount_2",
           "Total Employees_2", 
           "Number of Loans_3",
           "Total Loans Amount_3",
           "Total Employees_3",
           "Total Loans",
           "Total Loan Amount",
           "Total Employees"]].fillna(0)
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3,Total Loans,Total Loan Amount,Total Employees
ZIP,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,5.0,NaN,NaN,NaN,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0
00601,NaN,NaN,NaN,0.997854,0.000058,17242.0,2.0,328260.00,117.0,43.0,846924.57,335.0,36.0,786849.32,341.0,81.0,1962033.89,793.0
00602,NaN,NaN,NaN,0.994327,0.000266,37548.0,19.0,2198895.86,601.0,162.0,4301386.61,1381.0,119.0,3907995.21,1131.0,300.0,10408277.68,3113.0
00603,NaN,NaN,NaN,0.988274,0.001606,49804.0,22.0,5084300.00,1266.0,239.0,7976491.54,2700.0,162.0,8897252.89,2606.0,423.0,21958044.43,6572.0
00606,NaN,NaN,NaN,0.994809,0.000200,5009.0,1.0,4800.00,3.0,7.0,109067.00,42.0,5.0,84750.00,28.0,13.0,198617.00,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,45000.00,7.0,0.0,0.00,0.0,1.0,45000.00,7.0
54894,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,3075.00,1.0,0.0,0.00,0.0,1.0,3075.00,1.0
54969,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,11100.00,6.0,0.0,0.00,0.0,1.0,11100.00,6.0
25773,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,6200.00,1.0,0.0,0.00,0.0,1.0,6200.00,1.0
25919,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,7100.00,3.0,0.0,0.00,0.0,1.0,7100.00,3.0

In [24]:
master_df["Loans per Emp Bus"] = master_df["Total Loans"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp"] = master_df["Total Loan Amount"] / master_df["Total Employees"]
master_df["Loans per Emp Bus_1"] = master_df["Number of Loans_1"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_1"] = master_df["Total Loans Amount_1"] / master_df["Total Employees_1"]
master_df["Loans per Emp Bus_2"] = master_df["Number of Loans_2"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_2"] = master_df["Total Loans Amount_2"] / master_df["Total Employees_2"]
master_df["Loans per Emp Bus_3"] = master_df["Number of Loans_3"] / master_df["Total Emp Bus"]
master_df["Avg Loan Amt per Emp_3"] = master_df["Total Loans Amount_3"] / master_df["Total Employees_3"]
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,...,Total Loan Amount,Total Employees,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
ZIP,,,,,,,,,,,,,,,,,,,,,
00501,NaN,5.0,5.0,NaN,NaN,NaN,0.0,0.00,0.0,0.0,...,0.00,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
00601,NaN,NaN,NaN,0.997854,0.000058,17242.0,2.0,328260.00,117.0,43.0,...,1962033.89,793.0,NaN,2474.191538,NaN,2805.641026,NaN,2528.133045,NaN,2307.476012
00602,NaN,NaN,NaN,0.994327,0.000266,37548.0,19.0,2198895.86,601.0,162.0,...,10408277.68,3113.0,NaN,3343.487851,NaN,3658.728552,NaN,3114.689797,NaN,3455.345013
00603,NaN,NaN,NaN,0.988274,0.001606,49804.0,22.0,5084300.00,1266.0,239.0,...,21958044.43,6572.0,NaN,3341.151009,NaN,4016.034755,NaN,2954.256126,NaN,3414.141554
00606,NaN,NaN,NaN,0.994809,0.000200,5009.0,1.0,4800.00,3.0,7.0,...,198617.00,73.0,NaN,2720.780822,NaN,1600.000000,NaN,2596.833333,NaN,3026.785714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,...,45000.00,7.0,NaN,6428.571429,NaN,NaN,NaN,6428.571429,NaN,NaN
54894,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,...,3075.00,1.0,NaN,3075.000000,NaN,NaN,NaN,3075.000000,NaN,NaN
54969,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,...,11100.00,6.0,NaN,1850.000000,NaN,NaN,NaN,1850.000000,NaN,NaN
25773,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,...,6200.00,1.0,NaN,6200.000000,NaN,NaN,NaN,6200.000000,NaN,NaN
25919,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,1.0,...,7100.00,3.0,NaN,2366.666667,NaN,NaN,NaN,2366.666667,NaN,NaN

In [27]:
master_df.describe()

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,...,Total Loan Amount,Total Employees,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
count,32109.000000,35052.000000,37322.000000,33631.000000,33631.000000,33774.000000,39080.000000,3.908000e+04,39080.00000,39080.000000,...,3.908000e+04,39080.000000,37322.000000,35897.000000,37322.000000,31414.000000,37322.000000,33127.000000,37322.000000,31307.000000
mean,61.825968,227.137111,266.512513,0.263090,0.073105,9910.777107,35.659980,7.432815e+06,752.02175,59.359340,...,1.685675e+07,1919.429913,0.418266,8142.283546,0.110698,8851.337773,0.156128,7191.182383,0.151440,8372.959462
std,88.443966,406.851597,414.475046,0.248661,0.148541,14918.152573,69.944027,1.831201e+07,1671.85998,131.749004,...,4.175270e+07,4303.162337,0.321156,3227.806878,0.119044,3836.289053,0.155452,3574.584230,0.140103,3364.110122
min,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.00000,0.000000,...,0.000000e+00,0.000000,0.000000,192.507509,0.000000,227.187500,0.000000,4.500000,0.000000,127.500000
25%,9.000000,11.000000,24.000000,0.076952,0.002643,650.000000,1.000000,3.520000e+04,6.00000,1.000000,...,1.875115e+05,27.000000,0.183116,6376.921524,0.034483,6678.635133,0.048387,5242.556793,0.050000,6515.208413
50%,31.000000,41.000000,90.000000,0.162887,0.010017,2649.500000,6.000000,6.269559e+05,80.00000,7.000000,...,1.491269e+06,196.000000,0.361111,7849.674088,0.090909,8543.120599,0.117139,6738.177594,0.126214,8039.139041
75%,78.000000,255.000000,326.000000,0.374071,0.063405,13359.000000,36.000000,5.532691e+06,632.00000,49.000000,...,1.294567e+07,1642.000000,0.618755,9455.664336,0.159143,10532.484959,0.230987,8450.896100,0.227273,9687.694067
max,1634.000000,6893.000000,6897.000000,1.000000,1.000000,135256.000000,1052.000000,4.537722e+08,31360.00000,3213.000000,...,1.546740e+09,133008.000000,8.333333,126056.157895,6.000000,124859.212121,5.000000,126056.157895,3.000000,83810.854000

In [30]:
master_df[~master_df["Min Share"].isnull()].describe()

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,...,Total Loan Amount,Total Employees,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
count,29574.000000,30771.000000,32638.000000,33631.000000,33631.000000,33631.000000,33631.000000,3.363100e+04,33631.000000,33631.000000,...,3.363100e+04,33631.000000,32638.000000,31569.000000,32638.000000,28569.000000,32638.000000,29622.000000,32638.000000,29905.000000
mean,66.360283,256.658022,302.106839,0.263090,0.073105,9952.918022,41.086438,8.544134e+06,864.733430,68.609259,...,1.944207e+07,2215.454640,0.432061,7960.956512,0.109256,8697.305605,0.156429,6976.860697,0.166376,8285.909574
std,90.643775,425.862046,431.575897,0.248661,0.148541,14935.801329,73.948968,1.950168e+07,1775.194796,139.826700,...,4.445869e+07,4569.227086,0.304393,2811.093011,0.098997,3505.675489,0.142527,3084.543460,0.135005,3144.868256
min,1.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000,192.507509,0.000000,227.187500,0.000000,103.535714,0.000000,160.409512
25%,11.000000,15.000000,40.000000,0.076952,0.002643,664.500000,2.000000,7.879000e+04,12.000000,2.000000,...,3.066152e+05,45.000000,0.200000,6398.919778,0.041667,6669.841026,0.054054,5235.624080,0.072464,6536.668264
50%,36.000000,59.000000,119.000000,0.162887,0.010017,2681.000000,9.000000,9.681595e+05,122.000000,11.000000,...,2.358688e+06,309.000000,0.381164,7776.779661,0.093878,8472.081879,0.120000,6659.826134,0.142857,8015.768176
75%,84.000000,320.000000,394.000000,0.374071,0.063405,13459.000000,46.000000,7.523938e+06,857.000000,68.000000,...,1.797554e+07,2251.000000,0.634921,9256.451059,0.157895,10376.672727,0.232393,8233.828118,0.239337,9599.687073
max,1634.000000,6893.000000,6897.000000,1.000000,1.000000,135256.000000,1052.000000,4.537722e+08,31360.000000,3213.000000,...,1.546740e+09,133008.000000,6.000000,105225.000000,3.000000,124859.212121,4.000000,71655.000000,2.090909,69549.170000

In [31]:
master_df[~master_df["Min Share"].isnull()].corr()

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Total Pop,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,...,Total Loan Amount,Total Employees,Loans per Emp Bus,Avg Loan Amt per Emp,Loans per Emp Bus_1,Avg Loan Amt per Emp_1,Loans per Emp Bus_2,Avg Loan Amt per Emp_2,Loans per Emp Bus_3,Avg Loan Amt per Emp_3
Num Farms,1.000000,0.033213,0.262592,-0.056359,-0.085379,0.118172,0.155906,0.024659,0.067007,-0.023390,...,-0.010106,0.009652,-0.196230,-0.031537,-0.043022,-0.065724,-0.212932,-0.030873,-0.191202,-0.051906
Num Estabs,0.033213,1.000000,0.978664,0.330769,0.117174,0.791313,0.879963,0.853516,0.876976,0.942222,...,0.906746,0.946712,0.474171,0.141633,0.256108,0.190542,0.481960,0.068143,0.393934,0.078856
Total Emp Bus,0.262592,0.978664,1.000000,0.295920,0.095456,0.792784,0.887309,0.833386,0.865264,0.907686,...,0.876283,0.918750,0.384219,0.119791,0.216539,0.165500,0.373471,0.056364,0.313229,0.057667
Min Share,-0.056359,0.330769,0.295920,1.000000,0.585684,0.439911,0.179850,0.224123,0.231957,0.314709,...,0.268406,0.296680,0.245882,0.039260,-0.015853,0.099886,0.282918,0.006150,0.267329,0.057660
Black Share,-0.085379,0.117174,0.095456,0.585684,1.000000,0.207398,0.084257,0.101219,0.110369,0.105154,...,0.099207,0.110992,0.216662,0.030694,0.044980,0.037267,0.163876,-0.016608,0.282513,0.049246
Total Pop,0.118172,0.791313,0.792784,0.439911,0.207398,1.000000,0.649100,0.555152,0.617228,0.746869,...,0.601697,0.683760,0.449405,0.053664,0.173737,0.123280,0.458170,-0.002175,0.402168,0.011551
Number of Loans_1,0.155906,0.879963,0.887309,0.179850,0.084257,0.649100,1.000000,0.880956,0.933887,0.754809,...,0.830982,0.863689,0.414195,0.136421,0.384236,0.148831,0.312903,0.067354,0.321788,0.061303
Total Loans Amount_1,0.024659,0.853516,0.833386,0.224123,0.101219,0.555152,0.880956,1.000000,0.975304,0.759400,...,0.954200,0.929110,0.366828,0.206347,0.290478,0.237520,0.304487,0.111902,0.292627,0.116137
Total Employees_1,0.067007,0.876976,0.865264,0.231957,0.110369,0.617228,0.933887,0.975304,1.000000,0.767225,...,0.920758,0.932145,0.390046,0.164658,0.325702,0.182281,0.315169,0.087827,0.307870,0.085585
Number of Loans_2,-0.023390,0.942222,0.907686,0.314709,0.105154,0.746869,0.754809,0.759400,0.767225,1.000000,...,0.875483,0.916981,0.466658,0.108718,0.162345,0.175802,0.504399,0.056816,0.400618,0.072144
Total Loans Amount_2,-0.049503,0.855825,0.818775,0.289696,0.081905,0.584933,0.663217,0.797318,0.753308,0.900566,...,0.935455,0.921652,0.363481,0.150813,0.119225,0.201939,0.400952,0.116588,0.308816,0.105601
Total Employees_2,-0.044147,0.885609,0.848650,0.322889,0.095029,0.661868,0.674832,0.767662,0.749448,0.939272,...,0.909415,0.933396,0.394411,0.107973,0.120805,0.181755,0.437922,0.056725,0.338366,0.080502
Number of Loans_3,0.014287,0.956202,0.928413,0.322271,0.156846,0.763771,0.835012,0.812310,0.828500,0.971545,...,0.897024,0.936826,0.496681,0.121527,0.224393,0.178604,0.480487,0.057599,0.448055,0.075290
Total Loans Amount_3,-0.022325,0.897737,0.864821,0.271684,0.098640,0.596456,0.801182,0.901801,0.871028,0.888789,...,0.981899,0.968524,0.402466,0.173785,0.212321,0.215863,0.383184,0.100547,0.347208,0.126332
Total Employees_3,-0.005626,0.934624,0.903823,0.294835,0.110671,0.671440,0.842001,0.893928,0.893925,0.916521,...,0.965100,0.985290,0.434888,0.141163,0.234228,0.194106,0.411714,0.078357,0.374125,0.081585
Total Loans,0.032094,0.974134,0.949561,0.300187,0.124660,0.762666,0.873380,0.839522,0.861166,0.975515,...,0.910641,0.951241,0.486039,0.124628,0.243636,0.178556,0.472997,0.062015,0.417858,0.074043
Total Loan Amount,-0.010106,0.906746,0.876283,0.268406,0.099207,0.601697,0.830982,0.954200,0.920758,0.875483,...,1.000000,0.980757,0.393341,0.189100,0.228382,0.231196,0.371248,0.114961,0.327457,0.121455
Total Employees,0.009652,0.946712,0.918750,0.296680,0.110992,0.683760,0.863689,0.929110,0.932145,0.916981,...,0.980757,1.000000,0.426832,0.146170,0.241863,0.196107,0.406286,0.078642,0.356094,0.087346
Loans per Emp Bus,-0.196230,0.474171,0.384219,0.245882,0.216662,0.449405,0.414195,0.366828,0.390046,0.466658,...,0.393341,0.426832,1.000000,0.101717,0.628336,0.161862,0.846273,0.048069,0.900510,0.065942
Avg Loan Amt per Emp,-0.031537,0.141633,0.119791,0.039260,0.030694,0.053664,0.136421,0.206347,0.164658,0.108718,...,0.189100,0.146170,0.101717,1.000000,0.109161,0.764242,0.050409,0.587791,0.092102,0.672324
Loans per Emp Bus_1,-0.043022,0.256108,0.216539,-0.015853,0.044980,0.173737,0.384236,0.290478,0.325702,0.162345,...,0.228382,0.241863,0.628336,0.109161,1.000000,0.064815,0.239378,0.040219,0.430700,0.025098
Avg Loan Amt per Emp_1,-0.065724,0.190542,0.165500,0.099886,0.037267,0.123280,0.148831,0.237520,0.182281,0.175802,...,0.231196,0.196107,0.161862,0.764242,0.064815,1.000000,0.175096,0.166287,0.136497,0.353229
Loans per Emp Bus_2,-0.212932,0.481960,0.373471,0.282918,0.163876,0.458170,0.312903,0.304487,0.315169,0.504399,...,0.371248,0.406286,0.846273,0.050409,0.239378,0.175096,1.000000,0.041328,0.676827,0.065166
Avg Loan Amt per Emp_2,-0.030873,0.068143,0.056364,0.006150,-0.016608,-0.002175,0.067354,0.111902,0.087827,0.056816,...,0.114961,0.078642,0.048069,0.587791,0.040219,0.166287,0.041328,1.000000,0.036025,0.258236
Loans per Emp Bus_3,-0.191202,0.393934,0.313229,0.267329,0.282513,0.402168,0.321788,0.292627,0.307870,0.400618,...,0.327457,0.356094,0.900510,0.092102,0.430700,0.136497,0.676827,0.036025,1.000000,0.061751
Avg Loan Amt per Emp_3,-0.051906,0.078856,0.057667,0.057660,0.049246,0.011551,0.061303,0.116137,0.085585,0.072144,...,0.121455,0.087346,0.065942,0.672324,0.025098,0.353229,0.065166,0.258236,0.061751,1.000000

In [33]:
master_df.to_csv('ZIPdf.csv')