In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
import csv
import os

In [26]:
# Initialize the master DataFrame
master_df = pd.read_csv("ZIPdf.csv")
master_df.rename(columns={"Unnamed: 0" : "ZIP"}, inplace=True)
master_df["ZIP"] = master_df["ZIP"].astype(str).str.zfill(5)
master_df.set_index("ZIP", inplace=True)
master_df

,Num Farms,Num Estabs,Total Emp Bus,Min Share,Black Share,Number of Loans_1,Total Loans Amount_1,Total Employees_1,Number of Loans_2,Total Loans Amount_2,Total Employees_2,Number of Loans_3,Total Loans Amount_3,Total Employees_3
ZIP,,,,,,,,,,,,,,
00501,0.0,10.0,10.0,NaN,NaN,0,0,0,0,0,0,0,0,0
01001,11.0,475.0,486.0,0.087898,0.028075,0,0,0,0,0,0,0,0,0
01002,60.0,502.0,562.0,0.257683,0.058108,0,0,0,0,0,0,0,0,0
01003,3.0,15.0,18.0,0.311443,0.044960,0,0,0,0,0,0,0,0,0
01004,3.0,6.0,9.0,NaN,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99926,1.0,9.0,10.0,0.890013,0.000000,0,0,0,0,0,0,0,0,0
99927,0.0,0.0,0.0,NaN,NaN,0,0,0,0,0,0,0,0,0
99928,1.0,4.0,5.0,NaN,NaN,0,0,0,0,0,0,0,0,0
99929,2.0,99.0,101.0,0.348346,0.003189,0,0,0,0,0,0,0,0,0
99950,3.0,11.0,14.0,NaN,NaN,0,0,0,0,0,0,0,0,0

In [27]:
# List of file names
base = "C:\\Users\\hthog\\Desktop\\PPP Loan Data\\"
file_df = pd.read_csv(base + "Files.csv")
file_df

                               File  Completed
0                          Test.csv          0
1       public_150k_plus_230630.csv          0
2    public_up_to_150k_1_230630.csv          0
3    public_up_to_150k_2_230630.csv          0
4    public_up_to_150k_3_230630.csv          0
5    public_up_to_150k_4_230630.csv          0
6    public_up_to_150k_5_230630.csv          0
7    public_up_to_150k_6_230630.csv          0
8    public_up_to_150k_7_230630.csv          0
9    public_up_to_150k_8_230630.csv          0
10   public_up_to_150k_9_230630.csv          0
11  public_up_to_150k_10_230630.csv          0
12  public_up_to_150k_11_230630.csv          0
13  public_up_to_150k_12_230630.csv          0

In [28]:
# Define the processing function
def process(row, p):
    # If not a non-profit
    if not row[50]:
        print(type(row[1]))
        print(type(datetime.strptime(row[1],'%m/%d/%Y')))
        print(datetime.strptime(row[1],'%m/%d/%Y'))
#     if not row[8]:
#         p.write(row)
#     else:
#         zip_code = row[8].astype(str)[:5]
#         data_row = master_df.loc[zip_code]

In [31]:
for file in file_df[file_df["Completed"] == 0]["File"]:
    file_name = base + file
    # Check if file exists
    if not os.path.exists(file_name):
        print(f"File {file_name} does not exist. Skipping...")
        continue

    print(f"Processing {file}...")
    
    # Read file row by row since cannot fit in DF
    with open("Problem Rows.csv", "a") as p:
        chunk_size = 50000
        for chunk in pd.read_csv(file_name, chunksize=chunk_size):
            chunk = chunk[chunk["NonProfit"] != "Y"]
            chunk = chunk[~chunk["BusinessType"].isin(["Sole Proprietorship",
                                                      "Independent Contractors",
                                                      "Self-Employed Individuals"])]
            chunk = chunk[~chunk["NAICS"].isin([999990, None])]
        
#         with open(file_name, 'r') as f:
#             reader = csv.reader(f)
#             headers = next(reader)
#             for row in reader:
#                 process(row, p)

    #file_df[file_df["File"] == file]["Completed"] = 1
    
    print(f"Updated master DataFrame with data from {file}.")
    
    # Ask for user confirmation to proceed to the next file
    user_input = input("Do you want to continue with the next file? (y/n): ")
    if user_input.lower() != 'y':
        print("Stopping the process.")
        # Save the master DataFrame to disk
        master_df.to_csv('ZIPdf.csv')
        file_df.to_csv(base + "Files.csv", index=False)
        break

Processing Test.csv...
   LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
0  9547507704     5/1/2020            464              PPP
1  9777677704     5/1/2020            464              PPP
2  5791407702     5/1/2020           1013              PPP

              BorrowerName        BorrowerAddress      BorrowerCity  \
0    SUMTER COATINGS, INC.  2410 Highway 15 South            Sumter
1    PLEASANT PLACES, INC.    7684 Southrail Road  North Charleston
2  BOYER CHILDREN'S CLINIC       1850 BOYER AVE E           SEATTLE

   BorrowerState BorrowerZip LoanStatusDate  ...             BusinessType  \
0            NaN  29150-9662     12/18/2020  ...              Corporation
1            NaN  29420-9000      9/28/2021  ...      Sole Proprietorship
2            NaN  98112-2922      3/17/2021  ...  Non-Profit Organization

   OriginatingLenderLocationID                      OriginatingLender  \
0                        19248                           Synovus Bank
1                        19248                           Synovus Bank
2                         9551  Bank of America, National Association

   OriginatingLenderCity  OriginatingLenderState      Gender      Veteran  \
0               COLUMBUS                      GA  Unanswered   Unanswered
1               COLUMBUS                      GA  Male Owned  Non-Veteran
2              CHARLOTTE                      NC  Unanswered   Unanswered

   NonProfit ForgivenessAmount ForgivenessDate
0        NaN         773553.37      11/20/2020
1        NaN         746336.24       8/12/2021
2          Y         696677.49       2/10/2021

[3 rows x 53 columns]
   LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
3  6223567700     5/1/2020            920              PPP
4  9662437702     5/1/2020            101              PPP
5  9774337701     5/1/2020            101              PPP

               BorrowerName       BorrowerAddress    BorrowerCity  \
3  KIRTLEY CONSTRUCTION INC  1661 MARTIN RANCH RD  SAN BERNARDINO
4              AERO BOX LLC                   NaN             NaN
5    HUDSON EXTRUSIONS INC.                   NaN             NaN

   BorrowerState BorrowerZip LoanStatusDate  ... BusinessType  \
3            NaN  92407-1740     10/16/2021  ...  Corporation
4            NaN         NaN      8/17/2021  ...          NaN
5            NaN         NaN     11/17/2021  ...          NaN

   OriginatingLenderLocationID                      OriginatingLender  \
3                         9551  Bank of America, National Association
4                        57328           The Huntington National Bank
5                        57328           The Huntington National Bank

   OriginatingLenderCity  OriginatingLenderState      Gender      Veteran  \
3              CHARLOTTE                      NC  Male Owned  Non-Veteran
4               COLUMBUS                      OH  Unanswered   Unanswered
5               COLUMBUS                      OH  Unanswered   Unanswered

   NonProfit ForgivenessAmount ForgivenessDate
3        NaN         395264.11       9/10/2021
4        NaN         370819.35        4/8/2021
5        NaN         332137.41       5/10/2021

[3 rows x 53 columns]
   LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
6  9794577700     5/1/2020            491              PPP
7  9722187702     5/1/2020            101              PPP
8  9725917702     5/1/2020            101              PPP

                                       BorrowerName    BorrowerAddress  \
6  FRUIT COVE BAPTIST CHURCH OF JACKSONVILLE FL INC  501 State Road 13
7            MIAMITOWN AUTO PARTS AND RECYCLING INC                NaN
8                                    POPPYCOCKS INC                NaN

  BorrowerCity  BorrowerState BorrowerZip LoanStatusDate  ...  \
6  Saint Johns            NaN  32259-2832      2/19/2021  ...
7          NaN            NaN         NaN      2/24/2021  ...
8          NaN            NaN         NaN      8/17/2021  ...

               BusinessType  OriginatingLenderLocationID  \
6   Non-Profit Organization                        19248
7               Corporation                        57328
8  Subchapter S Corporation                        57328

              OriginatingLender  OriginatingLenderCity  \
6                  Synovus Bank               COLUMBUS
7  The Huntington National Bank               COLUMBUS
8  The Huntington National Bank               COLUMBUS

   OriginatingLenderState      Gender     Veteran  NonProfit  \
6                      GA  Unanswered  Unanswered          Y
7                      OH  Unanswered  Unanswered        NaN
8                      OH  Unanswered  Unanswered        NaN

  ForgivenessAmount ForgivenessDate
6         291741.75        1/7/2021
7         269416.44       1/25/2021
8         259982.88       6/24/2021

[3 rows x 53 columns]
    LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
9   9666867710     5/1/2020            101              PPP
10  9662697710     5/1/2020            101              PPP
11  9724667708     5/1/2020            101              PPP

                        BorrowerName  BorrowerAddress  BorrowerCity  \
9         CHURCH SQUARE PHARMACY INC              NaN           NaN
10    MILFAST INDUSTRIAL SUPPLY, INC              NaN           NaN
11  FERNANDINA BEACH HOTEL GROUP LLC              NaN           NaN

    BorrowerState  BorrowerZip LoanStatusDate  ...  \
9             NaN          NaN      4/21/2021  ...
10            NaN          NaN     11/17/2021  ...
11            NaN          NaN      8/17/2021  ...

                       BusinessType  OriginatingLenderLocationID  \
9                       Corporation                        57328
10                              NaN                        57328
11  Limited  Liability Company(LLC)                        57328

               OriginatingLender  OriginatingLenderCity  \
9   The Huntington National Bank               COLUMBUS
10  The Huntington National Bank               COLUMBUS
11  The Huntington National Bank               COLUMBUS

    OriginatingLenderState        Gender      Veteran  NonProfit  \
9                       OH    Unanswered   Unanswered        NaN
10                      OH  Female Owned  Non-Veteran        NaN
11                      OH    Unanswered   Unanswered        NaN

   ForgivenessAmount ForgivenessDate
9          252253.42       3/31/2021
10         175643.41        4/6/2021
11         172263.32       7/29/2021

[3 rows x 53 columns]
    LoanNumber DateApproved  SBAOfficeCode ProcessingMethod  \
12  9672967701     5/1/2020            101              PPP
13  5502308207     8/8/2020           1084              PPP

                     BorrowerName          BorrowerAddress BorrowerCity  \
12         OTTAWA PRODUCTS CO INC                      NaN          NaN
13  KAKIVIK ASSET MANAGEMENT, LLC  5015 BUSINESS PARK BLVD    ANCHORAGE

   BorrowerState BorrowerZip LoanStatusDate  ...  \
12           NaN         NaN     11/17/2021  ...
13            AK  99503-7146      7/22/2021  ...

                       BusinessType  OriginatingLenderLocationID  \
12                      Corporation                        57328
13  Limited  Liability Company(LLC)                       116975

               OriginatingLender  OriginatingLenderCity  \
12  The Huntington National Bank               COLUMBUS
13                 Northrim Bank              ANCHORAGE

    OriginatingLenderState      Gender     Veteran  NonProfit  \
12                      OH  Unanswered  Unanswered        NaN
13                      AK  Unanswered  Unanswered        NaN

   ForgivenessAmount ForgivenessDate
12         156504.89       4/23/2021
13        9615884.57       6/11/2021

[2 rows x 53 columns]
Updated master DataFrame with data from Test.csv.
Do you want to continue with the next file? (y/n): n
Stopping the process.